In [27]:
#print is use for answer

In [28]:
a= 10
b= 20
a
b

20

a=10
b=20
print(a)
print(b)

In [29]:
print(10)
print(10,20)
print('python')
print(10,20,'python')

10
10 20
python
10 20 python

In [30]:
num1 = 20
num2= 30
add=num1+num2
print(add)

50

# print result with string

In [31]:
name = 'python'
age=20
city='hyd'
#hello my name is python and i am 10 year old from hydrabad

In [32]:
print('my name is', name, 'and i am',age,'year old form',city)

my name is python and i am 20 year old form hyd

# print format method

In [33]:
num1=20
num2=30
add=num1+num2
print('the addtion of {} and {} is ={}'. format(num1,num2,add))

the addtion of 20 and 30 is =50

In [34]:
name ='python'
age+20
city='hyd'
#hellow my name is python and i am 10 year old from hydrabad

In [35]:
print('hello my name is {}, and i am {} years old from{}'.format(name,age,city))

hello my name is python, and i am 20 years old fromhyd

In [38]:
num1 = 100
num2 = 25
num3 = 333

avg = (num1 + num2 + num3) / 3
avg1 = round((num1 + num2 + num3) / 3, 2)

print('The average of {}, {}, and {} is = {} or {}'.format(num1, num2, num3, avg, avg1))

The average of 100, 25, and 333 is = 152.66666666666666 or 152.67

In [39]:
round (avg,2) #round of till 2 digite after decimal

152.67

In [43]:
num1 =30
num2 =20
add=num+num2
print(f'the addition of {num1} and {num2} is = {add}') # alwase prefer this

the addition of 30 and 20 is = 50

In [44]:
name='python'
age=20
city='hyd'
#hellow my name is python and i am 10 year old from hydrabad

In [47]:
print(f'hello my name is {name}, and i am {age} year old from {city}.')

hello my name is python, and i am 20 year old from hyd.

In [51]:
num1 = 100
num2 =25
num3= 333
avg=round((num1+num2+num3)/3,2) #or we can use avg=round (num1+num2+num3)/3,2)
 #the avarge of num1,num2,num3 is avg

In [52]:
print(f'the avarge of {num1}, {num2} and {num3} is = {avg}')

the avarge of 100, 25 and 333 is = 152.67

In [56]:
#let combine all
num1 = 10
num2 = 20
add = num1 + num2
print('the addition of {} and {} is = {}'.format(num1,num2,add))
print(f'the addition of {num1} and {num2} is = {add}')

the addition of 10 and 20 is = 30
the addition of 10 and 20 is = 30

# end statement

In [57]:
print('hello') # 1 st statement
print('good morning') # 2nd statement
# i want print like :- hellow good morning

hello
good morning

In [58]:
print('hello', end = '') #1st statement
print('world good day') #2nd statement

helloworld good day

# seprator

In [59]:
print('hello', 'hai','how are you', sep='--->')

hello--->hai--->how are you

In [61]:
print('hello', 'hai', 'how are you', sep='&')

hello&hai&how are you

In [62]:
print('hello','hai','how are you', sep= ' ')

hello hai how are you

In [64]:
print(3,'.') #  . is far from 3 so here we will use sep method

3 .

In [65]:
print(3,'.',sep=' ') # see now space settled(also use to remove space B/W words)

3 .

In [66]:
print(1,2,end=' ')
print(3,'.',sep='')
#will print 1 2 3.

1 2 3.